APP_PORT=3000

INFLUX_URL=http://influxdb:8086/
INFLUX_TOKEN=my-token
INFLUX_ORG=Vechr
INFLUX_BUCKET=Vechr

NATS_URL=nats://nats-server:4222

NATS_CA=/certificate/self-signed/rootCA.pem
NATS_KEY=/certificate/self-signed/nats/nats.key
NATS_CERT=/certificate/self-signed/nats/nats.crt

APP_NAME=db-logger-service

LOKI_HOST=http://loki:3100
LOKI_USERNAME=
LOKI_PASSWORD=

OTLP_HTTP_URL=http://tempo:4318/v1/traces